@import url(http://fonts.googleapis.com/css?family=Vollkorn);
@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Abril+Fatface);

*{
    font-family: 'Vollkorn', serif;
}

h4{
    font-family: 'Oswald', sans-serif;

}

a{

}

.sectionImage{
    height: 200px;
    border: 10px solid white;
    

}

body{
    background-color:#188FA7 ;

}

.button{
    background-color: #EF913E;
    border: 3px solid white;
    margin: 2px;
    width: 150px;
    height: 50px;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

p{
    color: white;
}

li{
    color:white;


}

#headshot{
    height: 400px;
    width: auto;
    border: 10px solid white;

}

#blurb{
    display: inline-block;
    margin-left: 5%;
    height: 40%;
    width: 30%;
    text-align: center;
    font-family: 'Abril Fatface', cursive;
}

#blurb p{
    font-size:30px ;
    margin-top: 30%;
    float: left;
}

#clear{
    height: 0px;

}