@import url(http://fonts.googleapis.com/css?family=Vollkorn);
@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Abril+Fatface);

*{
    font-family: 'Vollkorn', serif;
}

h4{
    font-family: 'Oswald', sans-serif;
    color:#EF913E;
    padding-top: 20px;

}

a{

}

.sectionImage{
    height: 200px;
    border: 10px solid white;
    

}

body{
    background-color:#188FA7 ;

}

.button{
    background-color: #EF913E;
    font-family: 'Oswald', sans-serif;
}

p{
    color: white;
}

li{
    color:white;


}

#headshot{
    
    border: 10px solid white;

}

#blurb{
    display: inline-block;
    text-align: center;
    font-family: 'Abril Fatface', cursive;
}

#blurb p{
    font-size:200%;
    margin-top: 10%;
    float: left;
}

.clear{
    height: 0px;
    clear: both;

}